<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>uvvu</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	</head>
	<body>
		<h1 class="h3 font-weight-normal mt-3 ms-3 mb-5">Forgot your password...</h1>
		<div class="lead text-center">
			Did you know sending an email generate about 4g of CO2 ?<br/>
			You better remember your passwords if you want to save our planet !
		</div>
		<p class="fw-lighter text-center">And do not forget to delete the email once used, stocking them within datacenters also polute.</p>
		<div class="text-center">
			<div class="w-100 m-auto" style="max-width: 400px;">
				<form action="/forgot-pwd" method="post">
					<div>
						<input type="email" name="email" placeholder="Email" class="form-control mb-1">
					</div>
					<div>
						<button type="submit" class="btn btn-primary mb-1">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>